<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.usersneak_internal"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <provider
      android:name=".application.UserSneakInitProvider"
      android:authorities="${applicationId}.usersneak.applicationprovider"
      android:directBootAware="true"
      android:exported="false"
      android:initOrder="900"
      tools:ignore="UnusedAttribute" />

    <activity
      android:name=".ui.UserSneakSurveyActivity"
      android:exported="false"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Translucent"
      android:windowSoftInputMode="adjustResize" />
  </application>
</manifest>
